{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Register-Page{% endblock %}

{% block body %}

<body>
    <div>
        <div style="padding: 20px">
            <div style="padding: 20px;">
                <div>
                    <h4>Register</h4>
                </div>
                <div>
                    <form class="form" method="POST" action="{{ url_for('register') }}" novalidate>
                        {{ form.csrf_token }}
                            {{ render_field(form.username)}}
                            {{ render_field(form.email)}}
                            {{ render_field(form.password)}}
                            {{ render_field(form.confirm_password)}}
                        <div>
                            {{ form.submit(class="error") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}